appdirs==1.4.4
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
certifi==2020.12.5
cffi==1.14.5
cfgv==3.2.0
chardet==4.0.0
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.7
dateparser==1.0.0
distlib==0.3.1
filelock==3.0.12
hyperlink==21.0.0
identify==2.2.4
idna==2.10
incremental==21.3.0
nodeenv==1.6.0
pre-commit==2.12.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==20.0.1
python-binance==0.7.9
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
service-identity==21.1.0
six==1.16.0
toml==0.10.2
Twisted==21.2.0
txaio==21.2.1
tzlocal==2.1
ujson==4.0.2
urllib3==1.26.4
virtualenv==20.4.6
zope.interface==5.4.0
